@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'components/button';
@import 'components/type';

@layer base {
  @font-face {
    font-family: 'Avo';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('~static/fonts/UTM-Avo.ttf');
  }

  @font-face {
    font-family: 'Avo';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('~static/fonts/UTM-AvoBold.ttf');
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('~static/fonts/Montserrat-Regular.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('~static/fonts/Montserrat-Medium.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('~static/fonts/Montserrat-SemiBold.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('~static/fonts/Montserrat-Bold.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('~static/fonts/Montserrat-ExtraBold.ttf');
  }

  body {
    @apply cursor-default overflow-x-hidden;
  }

  svg,
  img {
    @apply max-w-full max-h-full;
  }

  textarea {
    @apply resize-none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@screen md {
  .page-enter-active,
  .page-leave-active {
    transition: opacity 0.1s;
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }

  .layout-enter-active,
  .layout-leave-active {
    transition: opacity 0.1s;
  }
  .layout-enter,
  .layout-leave-to {
    opacity: 0;
  }
}
.text-linear-1 {
  background: -webkit-linear-gradient(70deg, #04d99c 4.6%, #07bd89 65.6%, #006e8c 202.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-linear-2 {
  background: -webkit-linear-gradient(0deg, #07bd89 2.92%, #006e8c 79.81%, #014251 103.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-linear-3 {
  background: -webkit-linear-gradient(91.74deg, #04d99c 4.6%, #07bd89 65.6%, #006e8c 202.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-line-green {
  background: linear-gradient(89.99deg, #07bd89 0.01%, rgba(7, 189, 137, 0) 82.65%);
}

.bg-line-white {
  background: linear-gradient(
    89.98deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 50.1%,
    rgba(255, 255, 255, 0) 100%
  );
}

.bg-line-green-2 {
  background: linear-gradient(
    89.98deg,
    rgba(7, 189, 137, 0) 0%,
    #07bd89 50.1%,
    rgba(7, 189, 137, 0) 100%
  );
}

.text-shadow-white {
  // text-shadow: 0px 4px 43px rgba(181, 218, 252, 0.82);
  text-shadow: 0px 4px 20px rgba(181, 252, 235, 0.82);
}

.bg-line-white-2 {
  background: linear-gradient(89.99deg, #ffffff 0.01%, rgba(255, 255, 255, 0) 82.65%);
}
.text-linear-3 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  color: #fff;
}

.text-stroke {
  -webkit-text-stroke: 1px white;
}
